
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.ubackground.com/_ph/23/221950857.jpg);">
  <div class="container">
    <h1>Welcome to Movie Mania</h1>
    <p>Helping find your new favorite movies</p>
    <%= link_to "Create List", new_list_path, class: "btn btn-danger" %>
  </div>
</div>

<div class="container-grid">
<div class="cards">
<% @lists.each do |list| %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <h2><%= link_to list.name, list_path(list) %><h2>
  </div>
<% end %>
</div>
</div>
