
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/vectors/grunge-abstract-cinema-background-vector-id119050302?k=20&m=119050302&s=612x612&w=0&h=wi2GzKL1AkNPGUHJ5QKlxdt_1wQmmnahdgUPndiuMDc=);">
  <div class="container">
    <h1>Welcome to Movie Mania</h1>
    <p>Helping find your new favorite movies</p>
    <%= link_to "Creat List", new_list_path, class: "btn btn-danger" %>
  </div>
</div>

<div class="container-grid">
<div class="cards">
<% @lists.each do |list| %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <h2><%= link_to list.name, list_path(list) %><h2>
  </div>
<% end %>
</div>
</div>
