
<div class="banner" style="background-image: url(https://www.ubackground.com/_ph/23/221950857.jpg);">
  <div class="container">
    <h1>Welcome to Movie Mania</h1>
    <p>Helping find your new favorite movies</p>
    <%= link_to "Create List", new_list_path, class: "btn btn-danger" %>
  </div>
</div>

<div class="container-grid">
  <div class="cards">
    <% @lists.each do |list| %>
    <% if list.photo.attached? %>
      <div class="card-category" style="background-image: url('<%= cl_image_path list.photo.key, crop: :fill%>')">
    <% else  %>
      <div class="card-category" style="background-image: url('https://us.123rf.com/450wm/hugolacasse/hugolacasse1603/hugolacasse160300013/53756518-illustration-of-a-film-stripe-reel-on-abstract-movie-background.jpg?ver=6')">
    <% end %>
        <h2><%= link_to list.name, list_path(list) %><h2>
      </div>
    <% end %>
  </div>
</div>
